@import "../../assets/styles/global";

.contact_row {
  .c-pointer;
  &:hover {
    background-color: lightgray;
  }
}
.selected_row {
  background-color: @bg_color !important;
  .mat-cell {
    color: @natural_color !important;
  }
}

