@import "../../assets/styles/global";

.contact_row {
  .c-pointer;
  &:hover {
    background-color: lightgray;
  }
  &:active {
    background-color: gray;
  }
}
.selected_row {
  background-color: red !important;
}
