<div class="container-fluid relative">
  <i class="fas fa-times" (click)="close()"></i>
  <div class="row">
    <div class="col-12"><h4>Pracownik: {{employee?.first_name}} {{employee?.last_name}}</h4></div>
    <div class="col-4">Do końca umowy pozostalo: </div>
    <div class="col-4">Okres wypowiedzenia wynosi: </div>
    <div class="col-4">Ostatni dzień pracy: </div>
    <div class="offset-2 col-8">
      <mat-form-field>
        <mat-label>Powód:</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="some_buttons col-12">
      <button mat-raised-button (click)="close()" class="main_button warning">Anuluj</button>
      <button mat-raised-button (click)="openBottomSheet()" class="main_button primary">Wypowiedz</button>
    </div>
  </div>
</div>
