@import "../../../assets/styles/global";

mat-form-field {
  .w(100%);
}
.modal_btn_wrappers {
  .center-text;
}
.fa-times {
    .absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    .c-pointer;
    color: @bg_color;
    z-index: 5;
    &:hover {
      opacity: .8;
    }
  }
#moved_row {
  .relative;
  top: 50%;
  transform: translateY(-50%);
}

