
<div class="container-fluid">
  <i class="fas fa-times" (click)="close()"></i>
  <div class="row">
    <div class="offset-3 col-6 offset-md-0 col-md-3 left_dialog_img"><img src="../../../assets/images/Unknown.jpeg"></div>
    <div class="col-12 col-md-9">
      <h4 class="dashboard_header">{{employee?.first_name}} {{employee?.last_name}} hej</h4>
      <h6 class="smaller_one">{{employee?.department}} {{employee?.position}}siema</h6>
      <div>Pracownik posiada obecnie umowę do: </div>
      <div class="color_error">Pracownik nie posiada obecnie umowy! </div>   <!--nalezy ją dodać -->
    </div>
    <div class="col-12 some_buttons">
      <button mat-raised-button (click)="GotoNewContract(employee)" class="main_button primary">Dodaj</button>
      <button mat-raised-button (click)="GotoNewContract(employee)" class="main_button warning">Edytuj</button>
    </div>
  </div>
</div>

