<div class="container-fluid">
  <div class="row">
    <div class="col-3"><img src="../../../assets/images/Unknown.jpeg"></div>
    <div class="col-9 right_info"><h5>{{employee?.full_name}}</h5>
    <div id="employee_info">
        <ul>
          <li>Dział: {{employee?.position}}</li>
          <li>Stanowisko: {{employee?.position}}</li>
          <li>Wykształcenie: {{employee?.education}} zł</li>
          <li>Pesel: {{employee?.pesel}}</li>
          <li>Staż pracy: {{employee?.experience_all}}</li>
        </ul>
    </div>
    </div>
    <div class="col-12"> <!-- *NgIf employee.contract-->
       <h5>Pracownik posiada obecnię umowę</h5>
      <div>
        <h6>Szczegóły umowy</h6>
        <ul>
          <li>Wynagrodzenie: {{employee?.salaries}}</li>
          <li>Początek umowy: {{employee?.start_date}}</li>
          <li>Okres umowy: {{employee?.contract_period}}</li>
          <li>Koniec umowy: {{employee?.contract_end}}</li>
          <li>Pozostało: ile dni?</li>
        </ul>
        <button mat-raised-button (click)="showform()" *ngIf="!editcontract">Zmień obecną umowę</button>
      </div>
    </div>
    <div class="col-12"><h5>Nowa umowa pracownika</h5></div> <!-- *ngIf !employee.contract-->
    <div class="col-12" *ngIf="editcontract">
      <form>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Wynagrodzenie (brutto)" type="number">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-select value="1">
                <mat-option value="1">Umowa o pracę</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-select value="1" placeholder="Wymiar czasu pracy:">
                <mat-option value="1">Pełny etat</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-select value="1" placeholder="Czas rozpoczęcia nowej umowy:">
                <mat-option value="1">Nowy miesiąc</mat-option>
                <mat-option value="2">Po zakończeniu obecnej</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <!-- shown when !employee.contract-->
          <div class="col-4">
            <mat-form-field>
              <input matInput [matDatepicker]="pickers" placeholder="Początek pracy">
              <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
              <mat-datepicker #pickers></mat-datepicker>
            </mat-form-field>
          </div>


          <div class="col-4">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Długośc umowy">
                <mat-option value='1'>1 miesiac</mat-option>
                <mat-option value='3'>3 miesiące</mat-option>
                <mat-option value='6'>6 miesiący</mat-option>
                <mat-option value='12'>1 rok</mat-option>
                <mat-option value='36'>3 lata</mat-option>
                <mat-option value="99999999">Czas nieokreślony</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="col-4">
            <mat-form-field>
              <mat-select placeholder="Okres wypowiedzenia:">
                <mat-option value="1">14 dni</mat-option>
                <mat-option value="2">30 dni</mat-option>         <!-- add [disable] depend of contract period-->
                <mat-option value="3">60 dni</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </form>
      <div class="center-text">
        <button mat-raised-button>Anuluj</button>
        <button mat-raised-button (click)="openBottomSheet()">Edytuj obecną umowę</button>
      </div>
    </div>

  </div>
</div>
