<div class="container-fluid pt-3">
  <h5 class="dashboard_header" *ngIf="!employee">Nowy pracownik</h5>
  <h5 class="dashboard_header" *ngIf="employee">Edycja pracownika</h5>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12 col-md-3 center-text mt-3">
        <div id="add_img_wrapper"> <!-- *ng IF img-->
          <input #imgInput type="file" hidden (change)="mainImgChange($event)" accept=".jpg">
          <button mat-raised-button (click)="imgInput.click()" class="main_button primary">Dodaj zdjęcie</button>
        </div>
        <div id="add_when_img">s</div> <!-- add background img by ngClass-->

      </div>
      <div class="col-12 col-md-9 mt-3">


        <div class="row form_row">
            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Imie" formControlName="first_name">
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nazwisko"  formControlName="last_name">
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-4">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data urodzenia" formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Pesel" formControlName="pesel">
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Email" formControlName="email">
              </mat-form-field>
            </div>
          <div class="col-6 col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="Numer telefonu" formControlName="phone">
            </mat-form-field>
          </div>
            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <mat-select formControlName="department" placeholder="Dział">
                  <mat-option *ngFor="let depart of departments" [value]="depart">{{depart}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Stanowisko" formControlName="position">
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <mat-select formControlName="sex" placeholder="Płec">
                  <mat-option *ngFor="let se of sex" [value]="se">{{se}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <mat-select formControlName="education" placeholder="Wykształcenie">
                  <mat-option *ngFor="let educ of educations" [value]="educ">{{educ}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-4">
              <mat-form-field class="example-full-width">
                <mat-select formControlName="experience_all" placeholder="Dotychczasowe doświadczenie">
                  <mat-option value='1'>1 rok</mat-option>
                  <mat-option value='2'>2 lata</mat-option>
                  <mat-option value='3'>3 lata</mat-option>
                  <mat-option value='4'>4 lata</mat-option>
                  <mat-option value='5'>5 lat</mat-option>
                  <mat-option value="6">6 lat</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-6 col-sm-4">
              <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="CVFile($event)" accept=".pdf" formControlName="CV"/>
              <button mat-flat-button color="primary" (click)="csvInput.click()" class="main_button primary">Dodaj CV</button>
              <div id="small_cv">{{CV_file?.name}}</div>
            </div>
        </div>
      </div>



    </div>
  </form>
  <div id="add_btn_wrapper" class="mb-5">
    <button (click)="checkdates()">lol</button>
    <button mat-raised-button (click)="form.reset()" class="main_button warning">Wyczysc</button>
    <button mat-raised-button (click)="closeIt()" class="main_button warning">Anuluj</button>
    <button mat-raised-button (click)="Add_Employee()" [disabled]="form.invalid" class="main_button success" *ngIf="!employee">Dodaj +</button>
    <button mat-raised-button [disabled]="form.invalid" class="main_button success" *ngIf="employee" (click)="Edit_Employee(employee)">Edytuj +</button>
  </div>




</div>
