<div class="container-fluid">
  <h5>Nowy pracownik</h5>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Numer Pracowniczy" formControlName="id">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Imie" formControlName="first_name">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nazwisko"  formControlName="last_name">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Data urodzenia" formControlName="birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Pesel" formControlName="pesel">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <mat-select formControlName="department" placeholder="Dział">
            <mat-option *ngFor="let depart of departments" [value]="depart">{{depart}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Stanowisko" formControlName="position">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Wynagrodzenie (brutto)" type="number" formControlName="salaries">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <mat-select formControlName="sex" placeholder="Płec">
            <mat-option *ngFor="let se of sex" [value]="se">{{se}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <mat-select formControlName="education" placeholder="Wykształcenie">
            <mat-option *ngFor="let educ of educations" [value]="educ">{{educ}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <input matInput [matDatepicker]="pickers" placeholder="Początek pracy" formControlName="start_date">
          <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
          <mat-datepicker #pickers></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <mat-select formControlName="contract_period" placeholder="Długośc umowy">
            <mat-option value='1'>1 miesiac</mat-option>
            <mat-option value='3'>3 miesiące</mat-option>
            <mat-option value='6'>6 miesiący</mat-option>
            <mat-option value='12'>1 rok</mat-option>
            <mat-option value='36'>3 lata</mat-option>
            <mat-option value="99999999">Czas nieokreślony</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width">
          <mat-select formControlName="experience_all" placeholder="Dotychczasowe doświadczenie">
            <mat-option value='1'>1 rok</mat-option>
            <mat-option value='2'>2 lata</mat-option>
            <mat-option value='3'>3 lata</mat-option>
            <mat-option value='4'>4 lata</mat-option>
            <mat-option value='5'>5 lat</mat-option>
            <mat-option value="6">6 lat</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="CVFile($event)" accept=".pdf" formControlName="CV"/>
        <button mat-flat-button color="primary" (click)="csvInput.click()">Dodaj CV</button>
        <div id="small_cv">{{CV_file.name}}</div>
      </div>
    </div>
  </form>
  <div id="add_btn_wrapper">
    <button mat-raised-button (click)="form.reset()">Wyczysc</button>
    <button mat-raised-button (click)="closeIt()">Anuluj</button>
    <button mat-raised-button (click)="Add_Employee()" [disabled]="form.invalid">Dodaj +</button>
      <button class="btn"><span>Hover me!</span></button>
  </div>




</div>
