@import "../../assets/styles/global";


table {
  .w(100%);
  td {
    border-right: solid 1px gray !important;
    .center-text;
  }
  th {
    .center-text;
  }

}

#hidden_action {
  position: fixed;
  top: 83px;
  right: 5px;
  border: solid 2px red;
  background-color: white;
}
.day_action {
  border: solid 2px red;
  background-color: white;
  .w(150px);
  .center-text;
  mat-form-field {
    .w(90%);
  }
}

