@import "../../assets/styles/global";


table {
  .w(100%);


}

#hidden_action {
  position: fixed;
  top: 83px;
  right: 5px;
  border: solid 2px red;
  background-color: white;
}
.day_action {
  border: solid 2px red;
  background-color: white;
  .w(150px);
  .center-text;
  mat-form-field {
    .w(90%);
  }
}
.mycell {
  .center-text;
  .c-pointer;
 &:hover {
   background-color: @bg_color;
   color: @main_color;
 }
}

