@import "../../../assets/styles/global";

.navbar {
  background-color: @bg_color;
  color: @main_color;
  div {
    .d-inline;
  }
}
#user_info {
  .d-inline;
  span {
    .d-block;
    line-height: 20px;
    &:first-child {
      color: white;
    }
    &:last-child {
      color: @main_color;
    }
  }
}
.navbar-brand {
  width: 200px;
  text-align: right;
  color: @natural_color;
}
