<div class="left_sidebar">
  <div class="sidebar_header" [ngClass]="{'hide_header': navibool}"><h4 id="first_div">My Company</h4> <div class="relative">Kadry i płace<span><i class="fas fa-bars" (click)="sendOutput()"></i></span></div>
  </div>

  <div class="sidebar_main relative">
    <nav>
      <ul class="left_nav_list">
        <li class="nav_item" routerLinkActive="active_item" [routerLinkActiveOptions]="{exact: true}" routerLink=""><a><i class="fas fa-home"></i>Przegląd</a></li>
        <li class="nav_item" routerLinkActive="active_item" routerLink="employees" ><a><i class="fas fa-users"></i>Pracownicy</a></li>
        <li class="nav_item" routerLinkActive="active_item" routerLink="contracts"><a><i class="fas fa-file-contract"></i>Umowy</a></li>
        <li class="nav_item" routerLinkActive="active_item" routerLink="schedule"><a><i class="fas fa-user-times"></i>Nieobecności</a></li>
        <li class="nav_item" routerLinkActive="active_item" routerLink="salaries"><a><i class="fas fa-coins"></i>Wynagrodzenia</a></li>
      </ul>
    </nav>
  </div>
</div>
