<div class="left_sidebar">
  <div id="sidebar_header"><div>Navigation</div><div class="left-sidebar-toggle"><i class="fas fa-arrow-left"></i></div></div>
  <div class="sidebar_main">
    <nav>
      <ul class="left_nav_list">
        <li class="nav_item" routerLinkActive="active_item" [routerLinkActiveOptions]="{exact: true}" routerLink=""><a><i class="fas fa-home"></i>Przegląd</a></li>
        <li class="nav_item" routerLinkActive="active_item" routerLink="employees" ><a><i class="fas fa-users"></i>Pracownicy</a></li>
        <li class="nav_item" routerLinkActive="active_item" routerLink="contracts"><a><i class="fas fa-file-contract"></i>Umowy</a></li>
        <li class="nav_item" routerLinkActive="active_item" routerLink="schedule"><a><i class="fas fa-user-times"></i>Nieobecności</a></li>
        <li class="nav_item" routerLinkActive="active_item" routerLink="salaries"><a><i class="fas fa-coins"></i>Wynagrodzenia</a></li>
      </ul>
    </nav>
  </div>
</div>
