@import "../../assets/styles/global";

table {
  .w(100%);
}
.mat-elevation-z8 {
  .w(100%);
  @media @medium {
    .w(70%);
    margin: 30px auto;
  }
}
.headers_section {
  margin-top: 20px;
  h3 {
    font-weight: bold;
    border-bottom: solid 3px @main_color;
    width: 200px;
    padding-bottom: 7px;
    .center-text;
    margin: 0 auto;
  }
}
